@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-body">
    <img class="bg-body" src="~/images/diethnes-panepistimio-thessalonikis.jpg" />
    <h1 class="text-lg-center">ΚΑΛΩΣΗΡΘΑΤΕ ΣΤΗΝ ΒΑΣΗ ΔΕΔΟΜΕΝΩΝ ΤΟΥ ΤΜΗΜΑΤΟΣ ΜΗΧΑΝΙΚΩΝ ΠΑΡΑΓΩΓΗΣ ΚΑΙ ΔΙΟΙΚΗΣΗΣ</h1>
    <p class="text-sm-center">ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ: <a href="http://iem.ihu.gr/anakoinwseis.php">ΑΝΑΚΟΙΝΩΣΕΙΣ ΤΜΗΜΑΤΟΣ</a>.</p>
</div>
